#assetListContainer
{
	float: left;
	position: relative;
	width: 630px;
	top: 10px;
	left: 10px;
	margin: 6px 0px 0px 0px;
	
	overflow: visible;
}

.assetListName
{
	float: left;
	height: 24px;
	clear: left;
	margin: 2px 0px 0px 0px;
	
	font-size:14pt;
	font-family:"Georgia", Times, serif;
	color: #045FB4;
	background-color: #DDDDDD;
	border-bottom: 1px solid #AAAAAA;
	/*	text-shadow: #666666 1px 1px 5px; */
}

.assetListName a
{
	display: block;
	float: left;
	min-width: 100px;
	height: 20px;
	margin: 2px 2px 2px 8px;
	
	text-align: left;
}

.assetListName input
{
	float: left;
	right: 4px;
	width: 36px;
	height: 20px;
	margin: 2px 2px 2px 8px;
	
	text-align: center;	
	border: 1px solid gray;
	background-color: #EEEEEE;
	cursor: pointer;
}

.assetListEmpty
{
	clear: left;
	width: 630px;
	margin: 0px 0px 8px 0px;

	padding-bottom: 2px;
	text-align: center;
	font-size:10pt;
	font-family:"Georgia", Times, serif;
	color: #666666;
	background-color: #DDDDDD;
}

.assetList
{
	clear: left;
	width: 630px;
	margin: 0px 0px 8px 0px;
	
	border-collapse: collapse;
	overflow: visible;
}

div.assetListActions
{
	height: 24px;
	width: 600px;
	clear: left;
	margin: 0px 10px 4px 10px;
	padding: 4px 0px 0px 0px;
	
	text-align:left;
}

.assetListActionButton
{
	margin: 0px 0px 0px 0px;
	border: 1px solid gray;
	background-color: #EEEEEE;
	cursor: pointer;
}

.assetListNavigation
{
	display: inline;
	margin: 0px 0px 0px 8px;

	color: #666666;
	font-weight: bold;
	text-align:left;
	font-size: 10pt;
}

.assetListFunctions
{
	display:inline;
	margin: 0px 0px 0px 8px;

	text-align:right;
	font-size: 10pt;
}

.assetListHeader td
{
	margin: 0px;
	padding: 2px 8px 2px 8px;
	
	border-bottom: 0px;
	background-color: #DDDDDD;
	text-align: center;
}

.assetListRowEven td
{
	background-color: #EEEEEE;	
}

.assetListRowOdd td
{
	background-color: #FFFFFF;
}

td.assetListLink
{
	text-align:center;
	white-space: nowrap;
}

td.assetListField
{
	padding-left: 10px;
	white-space: nowrap;
	overflow: visible;
}

td.assetListFieldLong
{
	padding-left: 10px;
	font-size: 75%;
}

.listFileButton
{
	height: 16px;
	width: 36px;
	margin: 0px 2px 0px 0px;
	padding: 0px;
	
	border: 1px solid gray;
	background-color: #EEEEEE;
}