body
{
	font-size: 12pt;
	color: #444444;
}

form
{
	margin: 0px;
	
}

textarea
{
	resize: vertical;
}

#container
{
	width: 500px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

a:link, a:visited{
	text-decoration: none;
	color: #045FB4;
}

a:hover, a:active{
	text-decoration: underline;
	color: #FF8000;
}

#installerTitle
{
	font-size: 18pt;
	color: #045FB4;
}

#installerVer
{
	font-style: italic;
	font-size: 10pt;
}

.fatalFail
{
	width: 100%;
	margin:20px;
	font-weight:bold;
	color: red;
}

#welcome
{
	width: 500px;
	text-align:center;
	margin: 20px;
	font-weight: bold;
}

#eula
{
	width: 480px;
	height: 200px;
	
}

#success
{
	width: 500px;
	text-align: center;
	margin-top: 60px;
}

#configTable, #optionalCategoriesTable
{
	width:	500px;
	text-align: left;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

td.helpHeader
{
	 text-align: center;
	 font-size: 11pt;
	 padding-top: 0px;
	 padding-bottom: 10px;
}

td.inputCategory
{
	font-weight: bold;
	font-size: 14pt;
	color: #045FB4;
}

td.categoryInfo
{
	 text-align: left;
	 font-size: 11pt;
	 padding-left: 20px;
	 padding-bottom: 10px;
}

td.inputField
{
	width:	150px;
	text-align: right;
	padding-left: 25px;
}

td.inputValue
{
	width:	300px;
	text-align: left;
}

td.checkCategory
{
	text-align: right;
	padding-right:	50px;
}

td.checkCategory>input
{
	border: 1px solid gray;
	background-color: #EEEEEE;
	cursor: pointer;
}

/* optional category options */
td.optionalCategoryBox
{
	padding-left:50px;
	width:10px;
}

td.optionalCategoryName
{
	width:120px;
}

td.optionalCategoryPrefix
{
	width:50px
}

td.optionalCategoryDescription
{
	width:250px;
}

div.actionButtons
{
	width:	500px;
	text-align: center;
	margin-top: 0px;
}

td.confirmButtons
{
	 text-align: center;
}

.submitButton
{
	width:200px;
	text-align: center;
	border: 1px solid gray;
	background-color: #EEEEEE;
	cursor: pointer;
	margin-bottom: 4px;
}

#checkGeneral
{
	width: auto;
	height: 100px;
	position: fixed;
	z-index: 5;
	top: 20%;
	left: 50%;
	right: 50%;
	margin-left: -120px;
	margin-right: -120px;
	padding: 5px;
	
	border: 2px solid gray;
	background-color: #FFFFFF;
	vertical-align: middle;
	border-radius: 12px;
	text-align:center;
}

#popupDivCloseA
{
	display: block;
	text-align: right;
	position: absolute;
	bottom: 6px;
	right: 10px;
	text-decoration: none;
	color: #045FB4;
	cursor: pointer;
}