a:link, a:visited{
	text-decoration: none;
	color: #045FB4;
}

a:hover, a:active{
	text-decoration: underline;
	color: #FF8000;
}

body
{
	background-color: white;
	color: #555555;
}

#docContainer
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
	text-align: left;
}

#slamLogo
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#docCopy
{
	text-align: center;
	font-size: 10pt;
	font-style: italic;
}