#popupDivCloseA
{
	display: block;
	text-align: right;
	position: absolute;
	bottom: 6px;
	right: 10px;
	text-decoration: none;
	color: #045FB4;
	cursor: pointer;
}

#helpDiv
{
	width: 300px;
	height: auto;
	position: fixed;
	z-index: 10;
	top: 20%;
	left: 50%;
	right: 50%;
	margin-left: -150px;
	
	font-family:"Georgia", Times, serif;
	font-size: 10pt;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	
	border: 2px solid gray;
	background-color: #EEEEEE;
	text-align: left;
	vertical-align: middle;
	border-radius: 12px;
}

#fileManagerDiv
{
	width: 520px;
	height: 300px;
	position: fixed;
	z-index: 5;
	top: 20%;
	left: 50%;
	right: 50%;
	margin-left: -260px;
	padding: 5px;
	
	font-family:"Georgia", Times, serif;
	font-size: 10pt;
	
	border: 2px solid gray;
	background-color: #FFFFFF;
	vertical-align: middle;
	border-radius: 12px;
}

#userDiv
{
	width: 250px;
	height: auto;
	position: fixed;
	z-index: 10;
	top: 20%;
	left: 50%;
	right: 50%;
	margin-left: -150px;
	
	font-family:"Georgia", Times, serif;
	font-size: 10pt;
	
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 20px;
	
	border: 2px solid gray;
	background-color: #EEEEEE;
	text-align: left;
	vertical-align: middle;
	border-radius: 12px;
}

#fileManagerDiv>iframe
{

}

#userActionsDiv
{
	text-align: center;
}

#userActionsDiv input, #userChangePass input
{
	margin-left: 2px;
	border: 1px solid gray;
	background-color: #EEEEEE;
}

.userAction
{
	text-align: center;
}

#userChangePass
{
	text-align: center;
	font-family:"Georgia", Times, serif;
	font-size: 10pt;
}

#userChangePass table
{
	padding: 10px;
}